.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.cards {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.chart {
  background-color: #ffffff;
}
